---
# This is the main sass file
---
@charset "utf-8";

$primary-highlight: #309060;

// Dimensions
$sidebarWidth: 220px;

// Palette
$gray: #4a4a4a;
$sidebar-background-colour: #303538;
$linkColor: #00a300;

$default-font-colour: black;

$content-width:    800px;
$on-palm:          600px;
$on-laptop:        800px;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@import
        "base"
;
