<div class="filter-card">

    <ul class="filter-list" data-bind="visible: stashedSlices().length > 0, foreach: stashedSlices">
        <li class="filter-list-item">
            <span class="remove-button">
                <a href="#" data-bind="click: $parent.removeSlice">Remove</a>
            </span>
            <span class="name" data-bind="text: $data.Slicer.Name"></span>
            <span class="token token-range" data-bind="text: $data.Slicer.Min + ' - ' + $data.Slicer.Max + ' ' + $data.Slicer.Unit"></span>
        </li>
    </ul>

    <ul class="filter-list" data-bind="visible: stashedFilters().length > 0, foreach: stashedFilters">
        <li class="filter-list-item">
            <span class="remove-button">
                <a href="#" data-bind="click: $parent.removeFilter">Remove</a>
            </span>
            <span class="name" data-bind="text: Name"></span>
            <ul class="or-tokens" data-bind="foreach: SelectedOptions">
                <li><span class="token" data-bind="text: $data"></span></li>
            </ul>
        </li>
    </ul>

</div>