<div class="results-card">
    <div class="current-count">
        <span data-bind="text: displayedPointsCount"></span>
        data points
    </div>

    <ul class="filter-list" data-bind="visible: stashedSlices().length > 0, foreach: stashedSlices">
        <li>
            <span class="remove-button">
                <a href="#" data-bind="click: $parent.removeSlice">☓</button>
            </span>
            <span class="name" data-bind="text: Name"></span>
            <span class="token token-range" data-bind="text: Min + ' - ' + Max"></span>
        </li>
    </ul>

    <ul class="filter-list" data-bind="visible: stashedFilters().length > 0, foreach: stashedFilters">
        <li>
            <span class="remove-button">
                <a href="#" data-bind="click: $parent.removeFilter">☓</button>
            </span>
            <span class="name" data-bind="text: Name"></span>
            <span data-bind="foreach: SelectedOptions">
                <span class="token" data-bind="text: $data"></span>
            </span>
        </li>
    </ul>

</div>