<form id="filter-form" data-bind="submit: stashFilter, visible: filters().length > 0">
    <label for="exampleRecipientInput">Filter By:</label>
    <select class="u-full-width mb-sm" data-bind=" options: filters,
                    optionsText: function(item) { return item.Name },
                    value: selectedFilter"></select>

    <p class="help-text" data-bind="text: selectedFilter() ? selectedFilter().Description : ''"></p>

    <select multiple class="multi-drop x-scroll" data-bind="options: selectedFilter() ? selectedFilter().Options : [],
               selectedOptions: selectedFilterValues"></select>
    <button>Save Filter</button>
</form>