<h3>Slice</h3>
<div class="slicer">
    <label for="slicer">By Dimension</label>
    <select class="u-full-width" data-bind=" options: slices, optionsCaption: 'None', optionsText: function(item) { return item.Name }, value: currentSlice"></select>
    <div id="slicer" data-bind="slider: currentSlice, sliderOptions: {minValue: 0, max: 100, range: 'min', step: 1"></div>
</div>
<div data-bind="visible: currentSlice() != null">
    <span data-bind="text: currentSliceMin">?</span> -
    <span data-bind="text: currentSliceMax">?</span>
    <span data-bind="text: currentSlice() ? currentSlice().Unit : ''">?</span>
    <br/>
    <button data-bind="click: stashSlice">Save Slice</button>
</div>