// Full-Screen Layout
body.fullscreen {
    padding: 0;
    margin: 0;
    min-height: 100%;
    .container {
        width: 100%;
        min-height: 100%;
        padding: 0;
        margin: 0;
    }
    .fullscreen-content {
        min-height: 100%;
        padding: 4em 0 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        .map-container {
            height: 100%;
            width: 100%;
            #map {
            }
        }
    }
    .fullscreen-header {
        margin-top: -4em;
        height: 4em;
        padding: 0.4em;
        background-size: 1000px;
        background-repeat: no-repeat;
        background-position: right;
        background-color: #fff;
        border-bottom: 1px solid lightgrey;
        font-size: 14px; // position: fixed;
        // width: 100%;
        z-index: 99; // font-size: 1.2em;
        // padding: 1em;
        // background-color: darkgrey;
        .left {
            float: left;
            margin-top: 0.5em;
            h3 {
                margin-bottom: 0;
            }
        }
        .right {
            float: right;
            display: block;
        }
        .logo-container {
            margin-top: 0.5em;
            margin-right: 1em;
            img {
                max-height: 3em;
            }
        }
    }
}

.loading-message {
    text-align: center;
    margin-top: 4em;
    font-size: 2em;
}

footer {
    border-top: 0.5px solid lightgrey;
    text-align: center;
    padding: 0.75em 0;
    font-size: 0.85em;
    margin-top: 2em;
    .seperator {
        margin: auto 0.2em;
    }
}