// Map Styling
.map-container {
    position: relative;
    .button {
        background-color: rgba(255, 255, 255, 0.5);
    }
    .buttons-left {
        position: absolute;
        top: 0.25em;
        left: 0.25em;
    }
    .map-controls {
        position: absolute;
        top: 0.25em;
        left: 0.25em;
        .zoom-buttons {
            width: 3em;
            .button {
                font-size: 1.2em;
                display: block;
                margin-bottom: 0.2em;
                padding-left: 0.2em;
                padding-right: 0.2em;
            }
        }
    }
    .map-panels-left {
        position: absolute;
        top: 0.25em;
        left: 0.25em;
        max-width: 20vw;
    }

    .map-panels-right {
        width: 30vw;
        position: absolute;
        top: 0.25em;
        right: 0.25em;
    }
    .map-panels-right-bottom {
        width: 30vw;
        position: absolute;
        bottom: 0.25em;
        right: 0.25em;
    }
}

// Full-screen map layout changes
body.fullscreen {
    .map-container {
        .map-controls {
            bottom: 0.25em;
            top: initial;
        }
    }
}

// Expand panels
.expand-panel {
    width: 100%;
    margin-bottom: 0.5em;
    .expand-panel-title {
        background-color: rgba(255, 255, 255, 0.80);
        padding: 0.1em 1em;
        display: block;
        margin-bottom: 0;
        line-height: 3em;
        height: 3em;
    }
    .expand-panel-title:hover {
        background-color: rgba(175, 174, 174, 0.80);
    }
    .expand-panel-contents {
        max-height: 33vh;
        overflow: scroll;
        background-color: rgba(255, 255, 255, 0.788);
        border: 0.5px solid lightgrey;
        padding:1em;
    }
}

