---
layout: default
---

{% assign rows = site.maps.size | divided_by: 4.0 | ceil %}

<h1>{{ site.title }}</h1>
<p style="text-align:center">{{ site.description }}</p>
<hr/>

{% for i in (1..rows) %}
  <div class="row">
    {% assign offset = forloop.index0 | times: 4 %}
    {% for map in site.maps limit:4 offset:offset %}
    <div class="three columns">
            <div class="study-preview">
                <a href="{{ site.baseurl }}{{ map.url }}">
                    <img src="{{ site.baseurl }}/map-data/{{ map.mapname }}.thumb.jpg" style="width:100%" alt="{{ map.mapname }}"/>
                    <p>{{ map.name }}</p>
                </a>
            </div>
    </div>
    {% endfor %}
</div>
{% endfor %}

{% include attribution-footer.html %}