<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body data-bind="css: { fullscreen: displayMode() == 2 }" data-baseurl="{{ site.baseurl }}">
    <div data-bind="css: { container: displayMode() != 2 }" id="thalloo-app" data-mapname="{{ page.mapname }}">

        <!-- Loading -->
        <div data-bind="visible: displayMode() == 0">
            <p class="loading-message">Preparing Map...</p>
        </div>

        <!-- Header: Standard -->
        <div data-bind="visible: displayMode() == 1" style="display:none">
            <div class="top-links">
                <a href="{{ site.ownerurl }}/" target="_blank" class="top-links-right">{{ site.ownername }}</a>            
                <a href="{{ site.baseurl }}/">&larr; All Evidence Maps</a>
            </div>
            <hr/>
            <h1 id="study-name">{{ page.name }}
                <br/>
                <small id="study-publication"></small>
            </h1>
            <span data-bind="ifnot:descriptionExpanded" class="heading-description">
                <span data-bind="truncatedText: description, maxTextLength: 250"></span>
                <a data-bind="click: toggleDescriptionLength"> more...</a>
            </span>
            <span data-bind="if:descriptionExpanded" class="heading-description">
                <span data-bind="text: description"></span>
                <a data-bind="click: toggleDescriptionLength"> [Less].</a>
            </span>
            <!-- Logos -->
            <div class="logo-container" data-bind="foreach: logos">
                <img data-bind="attr: { src: '{{ site.baseurl }}/images/logos/' + $data.File + '.png' }" />
            </div>
            <hr/>
        </div>

        <!-- Main Map Content -->
        <div data-bind="css: { 'fullscreen-content': displayMode() == 2 }, visible: displayMode() != 0" style="display:none">
            <!-- Full-screen header -->
            <div class="fullscreen-header" data-bind="visible: displayMode() == 2">
                <div class="left">
                    <h3>{{ page.name }}</h3>
                </div>
                <div class="right">
                    <!-- Logos -->
                    <div class="logo-container" data-bind="foreach: logos">
                        <img data-bind="attr: { src: '{{ site.baseurl }}/images/logos/' + $data.File + '.png' }" />
                    </div>
                </div>
            </div>

            <!-- Map Region -->
            <div data-bind="css: { row: displayMode() == 1 }">

                <div data-bind="css: { 'nine columns': displayMode() == 1 }">
                    <div class="map-container">
                        <svg id="map" />

                        <!-- Full-Screen Panels -->
                        <div class="map-panels-left">
                            <div class="expand-panel" data-bind="visible: displayMode() == 2">
                                <div class="expand-panel-title button" data-bind="click: toggleLegendDisplay">Legend</div>
                                <div class="expand-panel-contents" data-bind="visible: !hiddenLegend()">
                                    {% include legend.html %}
                                </div>
                            </div>
                        </div>
                        <div class="map-panels-right">
                            <div class="expand-panel" data-bind="visible: displayMode() == 2 && selectedPoints().length > 0">
                                <div class="expand-panel-title button" data-bind="click: toggleDetailDisplay">
                                    <span data-bind="text: selectedPoints().length"></span> Points Selected
                                </div>
                                <div class="expand-panel-contents" data-bind="visible: !hiddenDetail()">
                                    {% include selected-points.html %}
                                </div>
                            </div>
                            <div class="expand-panel" data-bind="visible: displayMode() == 2">
                                <div class="expand-panel-title button" data-bind="click: toggleFilterDisplay">Filter</div>
                                <div class="expand-panel-contents" data-bind="visible: !hiddenFilter()">
                                    {% include filter.html %}
                                </div>
                            </div>
                        </div>
                        <div class="map-panels-right-bottom">
                            <div class="expand-panel" data-bind="visible: displayMode() == 2 && (stashedFilters().length > 0 || stashedSlices().length > 0)">
                                <div class="expand-panel-contents">
                                    {% include applied-filters-and-slices.html %}
                                </div>
                            </div>
                        </div>
            
                        <div class="map-controls">
                            <div class="zoom-buttons">
                                <a data-bind="click: zoomIn" class="button">
                                    <i class="fas fa-plus-square"></i>
                                </a>
                                <a data-bind="click: zoomOut" class="button">
                                    <i class="fas fa-minus-square"></i>
                                </a>
                                <a data-bind="click: toggleFullScreen, visible: displayMode() == 1" class="button">
                                    <i class="fas fa-expand-arrows-alt"></i>
                                </a>
                                <a data-bind="click: toggleFullScreen, visible: displayMode() == 2" class="button">
                                    <i class="fas fa-window-close"></i>
                                </a>            
                            </div>
                        </div>
                    </div>
                    <div data-bind="visible: displayMode() == 1">
                        {% include slicer.html %} {% include selected-points.html %}
                    </div>
                </div>
                <div class="three columns" data-bind="visible: displayMode() == 1">
                    <h3>Filter</h3>
                    {% include applied-filters-and-slices.html %}
                    {% include filter.html %} 
                    <p class="current-count">
                        Showing <span data-bind="text: displayedPointsCount"></span> data points.
                    </p>                    
                    {% include legend.html %}
                    {{ content }}
                </div>
            </div>

            <footer data-bind="visible: displayMode() == 1">
                <span>Thalloo mapping framework &copy; Andrew C Martin</span>
                <span class="seperator">/</span>
                <span>
                    <a href="https://github.com/AndrewIOM/thalloo-starter" target="_blank">create your own instance</a>
                </span>
                <span class="seperator">/</span>
                <span>open-source at
                    <a href="https://github.com/AndrewIOM/thalloo" target="_blank">GitHub</a>
                </span>
            </footer>

        </div>
</body>

<script src="{{ site.baseurl }}/assets/scripts/main.bundle.js"></script>
{% include analytics.html %}

</html>